mascaras_generadas/1480026_mask.png
mascaras_generadas/1480026.jpg
mascaras_generadas/1480175_mask.png
mascaras_generadas/1480175.jpg
mascaras_generadas/1480318_mask.png
mascaras_generadas/1480318.jpg
mascaras_generadas/1480353_mask.png
mascaras_generadas/1480353.jpg
mascaras_generadas/1480361_mask.png
mascaras_generadas/1480361.jpg
mascaras_generadas/1480389_mask.png
mascaras_generadas/1480389.jpg
mascaras_generadas/1480419_mask.png
mascaras_generadas/1480419.jpg
mascaras_generadas/1480516_mask.png
mascaras_generadas/1480516.jpg
mascaras_generadas/1480657_mask.png
mascaras_generadas/1480657.jpg
mascaras_generadas/1580077_mask.png
mascaras_generadas/1580077.jpg
mascaras_generadas/1580336_mask.png
mascaras_generadas/1580336.jpg
mascaras_generadas/1580396_mask.png
mascaras_generadas/1580396.jpg
mascaras_generadas/1580462_mask.png
mascaras_generadas/1580462.jpg
mascaras_generadas/1580479_mask.png
mascaras_generadas/1580479.jpg
mascaras_generadas/1580481_mask.png
mascaras_generadas/1580481.jpg
mascaras_generadas/1580544_mask.png
mascaras_generadas/1580544.jpg
mascaras_generadas/1580545_mask.png
mascaras_generadas/1580545.jpg
mascaras_generadas/1580560_mask.png
mascaras_generadas/1580560.jpg
mascaras_generadas/1580576_mask.png
mascaras_generadas/1580576.jpg
mascaras_generadas/1580595_mask.png
mascaras_generadas/1580595.jpg
mascaras_generadas/1580596_mask.png
mascaras_generadas/1580596.jpg
mascaras_generadas/1580912_mask.png
mascaras_generadas/1580912.jpg
mascaras_generadas/1581034_mask.png
mascaras_generadas/1581034.jpg
mascaras_generadas/1581046_mask.png
mascaras_generadas/1581046.jpg
mascaras_generadas/1581049_mask.png
mascaras_generadas/1581049.jpg
mascaras_generadas/1581120_mask.png
mascaras_generadas/1581120.jpg
mascaras_generadas/1581563_mask.png
mascaras_generadas/1581563.jpg
mascaras_generadas/1581569_mask.png
mascaras_generadas/1581569.jpg
mascaras_generadas/1581621_mask.png
mascaras_generadas/1581621.jpg
mascaras_generadas/1581630_mask.png
mascaras_generadas/1581630.jpg
mascaras_generadas/1582133_mask.png
mascaras_generadas/1582133.jpg
mascaras_generadas/1582218_mask.png
mascaras_generadas/1582218.jpg
mascaras_generadas/1582247_mask.png
mascaras_generadas/1582247.jpg
mascaras_generadas/1582433_mask.png
mascaras_generadas/1582433.jpg
mascaras_generadas/1582637_mask.png
mascaras_generadas/1582637.jpg
mascaras_generadas/1582638_mask.png
mascaras_generadas/1582638.jpg
mascaras_generadas/1582703_mask.png
mascaras_generadas/1582703.jpg
mascaras_generadas/1582961_mask.png
mascaras_generadas/1582961.jpg
mascaras_generadas/1582966_mask.png
mascaras_generadas/1582966.jpg
mascaras_generadas/1582976_mask.png
mascaras_generadas/1582976.jpg
mascaras_generadas/1582999_mask.png
mascaras_generadas/1582999.jpg
mascaras_generadas/1603092_mask.png
mascaras_generadas/1603092.jpg
mascaras_generadas/1603313_mask.png
mascaras_generadas/1603313.jpg
mascaras_generadas/1603368_mask.png
mascaras_generadas/1603368.jpg
mascaras_generadas/1603425_mask.png
mascaras_generadas/1603425.jpg
mascaras_generadas/1603595_mask.png
mascaras_generadas/1603595.jpg
mascaras_generadas/1603827_mask.png
mascaras_generadas/1603827.jpg
mascaras_generadas/1603910_mask.png
mascaras_generadas/1603910.jpg
mascaras_generadas/1604345_mask.png
mascaras_generadas/1604345.jpg
mascaras_generadas/1604363_mask.png
mascaras_generadas/1604363.jpg
mascaras_generadas/1604391_mask.png
mascaras_generadas/1604391.jpg
mascaras_generadas/1604496_mask.png
mascaras_generadas/1604496.jpg
mascaras_generadas/1604791_mask.png
mascaras_generadas/1604791.jpg
mascaras_generadas/1604798_mask.png
mascaras_generadas/1604798.jpg
mascaras_generadas/1606294_mask.png
mascaras_generadas/1606294.jpg
mascaras_generadas/1606374_mask.png
mascaras_generadas/1606374.jpg
mascaras_generadas/1607842_mask.png
mascaras_generadas/1607842.jpg
mascaras_generadas/1607922_mask.png
mascaras_generadas/1607922.jpg
mascaras_generadas/1608642_mask.png
mascaras_generadas/1608642.jpg
mascaras_generadas/1609624_mask.png
mascaras_generadas/1609624.jpg
mascaras_generadas/1609626_mask.png
mascaras_generadas/1609626.jpg
mascaras_generadas/1609637_mask.png
mascaras_generadas/1609637.jpg
mascaras_generadas/1609747_mask.png
mascaras_generadas/1609747.jpg
mascaras_generadas/1609843_mask.png
mascaras_generadas/1609843.jpg
mascaras_generadas/1609905_mask.png
mascaras_generadas/1609905.jpg
mascaras_generadas/1611103_mask.png
mascaras_generadas/1611103.jpg
mascaras_generadas/1611255_mask.png
mascaras_generadas/1611255.jpg
mascaras_generadas/1611322_mask.png
mascaras_generadas/1611322.jpg
mascaras_generadas/1611526_mask.png
mascaras_generadas/1611526.jpg
mascaras_generadas/1611593_mask.png
mascaras_generadas/1611593.jpg
mascaras_generadas/1611669_mask.png
mascaras_generadas/1611669.jpg
mascaras_generadas/1611944_mask.png
mascaras_generadas/1611944.jpg
mascaras_generadas/5348097_mask.png
mascaras_generadas/5348097.jpg
mascaras_generadas/5389372_mask.png
mascaras_generadas/5389372.jpg
mascaras_generadas/5389905_mask.png
mascaras_generadas/5389905.jpg
mascaras_generadas/5389945_mask.png
mascaras_generadas/5389945.jpg
mascaras_generadas/5389967_mask.png
mascaras_generadas/5389967.jpg
mascaras_generadas/5389976_mask.png
mascaras_generadas/5389976.jpg
mascaras_generadas/5399189_mask.png
mascaras_generadas/5399189.jpg
mascaras_generadas/5410512_mask.png
mascaras_generadas/5410512.jpg
mascaras_generadas/5410523_mask.png
mascaras_generadas/5410523.jpg
mascaras_generadas/5420930_mask.png
mascaras_generadas/5420930.jpg
mascaras_generadas/5443460_mask.png
mascaras_generadas/5443460.jpg
mascaras_generadas/5445892_mask.png
mascaras_generadas/5445892.jpg
mascaras_generadas/5445894_mask.png
mascaras_generadas/5445894.jpg
mascaras_generadas/5445904_mask.png
mascaras_generadas/5445904.jpg
mascaras_generadas/5448482_mask.png
mascaras_generadas/5448482.jpg
mascaras_generadas/5448580_mask.png
mascaras_generadas/5448580.jpg
mascaras_generadas/5454533_mask.png
mascaras_generadas/5454533.jpg
mascaras_generadas/5484565_mask.png
mascaras_generadas/5484565.jpg
mascaras_generadas/5484571_mask.png
mascaras_generadas/5484571.jpg
mascaras_generadas/5484598_mask.png
mascaras_generadas/5484598.jpg
mascaras_generadas/5497821_mask.png
mascaras_generadas/5497821.jpg
mascaras_generadas/5497884_mask.png
mascaras_generadas/5497884.jpg
mascaras_generadas/5499583_mask.png
mascaras_generadas/5499583.jpg
mascaras_generadas/5499593_mask.png
mascaras_generadas/5499593.jpg
mascaras_generadas/5499597.jpg
mascaras_generadas/5523382_mask.png
mascaras_generadas/5523382.jpg
mascaras_generadas/tree-1_mask.png
mascaras_generadas/tree-1.jpg
test 2/dataset/1480026.jpg
test 2/dataset/1480175.jpg
test 2/dataset/1480318.jpg
test 2/dataset/1480353.jpg
test 2/dataset/1480361.jpg
test 2/dataset/1480389.jpg
test 2/dataset/1480419.jpg
test 2/dataset/1480516.jpg
test 2/dataset/1480657.jpg
test 2/dataset/1580077.jpg
test 2/dataset/1580336.jpg
test 2/dataset/1580396.jpg
test 2/dataset/1580462.jpg
test 2/dataset/1580479.jpg
test 2/dataset/1580481.jpg
test 2/dataset/1580544.jpg
test 2/dataset/1580545.jpg
test 2/dataset/1580560.jpg
test 2/dataset/1580576.jpg
test 2/dataset/1580595.jpg
test 2/dataset/1580596.jpg
test 2/dataset/1580912.jpg
test 2/dataset/1581034.jpg
test 2/dataset/1581046.jpg
test 2/dataset/1581049.jpg
test 2/dataset/1581120.jpg
test 2/dataset/1581563.jpg
test 2/dataset/1581569.jpg
test 2/dataset/1581621.jpg
test 2/dataset/1581630.jpg
test 2/dataset/1582070.jpg
test 2/dataset/1582133.jpg
test 2/dataset/1582218.jpg
test 2/dataset/1582247.jpg
test 2/dataset/1582433.jpg
test 2/dataset/1582637.jpg
test 2/dataset/1582638.jpg
test 2/dataset/1582703.jpg
test 2/dataset/1582961.jpg
test 2/dataset/1582966.jpg
test 2/dataset/1582976.jpg
test 2/dataset/1582999.jpg
test 2/dataset/1603092.jpg
test 2/dataset/1603313.jpg
test 2/dataset/1603368.jpg
test 2/dataset/1603425.jpg
test 2/dataset/1603595.jpg
test 2/dataset/1603827.jpg
test 2/dataset/1603910.jpg
test 2/dataset/1604345.jpg
test 2/dataset/1604363.jpg
test 2/dataset/1604391.jpg
test 2/dataset/1604496.jpg
test 2/dataset/1604791.jpg
test 2/dataset/1604798.jpg
test 2/dataset/1606294.jpg
test 2/dataset/1606374.jpg
test 2/dataset/1607842.jpg
test 2/dataset/1607922.jpg
test 2/dataset/1608642.jpg
test 2/dataset/1609624.jpg
test 2/dataset/1609626.jpg
test 2/dataset/1609637.jpg
test 2/dataset/1609747.jpg
test 2/dataset/1609843.jpg
test 2/dataset/1609905.jpg
test 2/dataset/1611103.jpg
test 2/dataset/1611255.jpg
test 2/dataset/1611322.jpg
test 2/dataset/1611526.jpg
test 2/dataset/1611593.jpg
test 2/dataset/1611669.jpg
test 2/dataset/1611944.jpg
test 2/dataset/5348097.jpg
test 2/dataset/5389372.jpg
test 2/dataset/5389905.jpg
test 2/dataset/5389945.jpg
test 2/dataset/5389967.jpg
test 2/dataset/5389976.jpg
test 2/dataset/5399189.jpg
test 2/dataset/5410512.jpg
test 2/dataset/5410523.jpg
test 2/dataset/5420930.jpg
test 2/dataset/5443460.jpg
test 2/dataset/5445892.jpg
test 2/dataset/5445894.jpg
test 2/dataset/5445904.jpg
test 2/dataset/5448482.jpg
test 2/dataset/5448580.jpg
test 2/dataset/5454533.jpg
test 2/dataset/5484565.jpg
test 2/dataset/5484571.jpg
test 2/dataset/5484598.jpg
test 2/dataset/5497821.jpg
test 2/dataset/5497884.jpg
test 2/dataset/5499583.jpg
test 2/dataset/5499593.jpg
test 2/dataset/5523382.jpg
best_model.h5
best_model2.h5
model.tflite
__pycache__/add_user_window.cpython-39.pyc
__pycache__/admin_panel.cpython-39.pyc
__pycache__/app_copy.cpython-39.pyc
__pycache__/app.cpython-39.pyc
__pycache__/aver.cpython-39.pyc
__pycache__/avercopy2.cpython-39.pyc
__pycache__/database_manager.cpython-39.pyc
__pycache__/DatasetSaver.cpython-39.pyc
__pycache__/Datasetserver.cpython-39.pyc
__pycache__/diseño.cpython-39.pyc
__pycache__/excel_preview.cpython-39.pyc
__pycache__/gridmenu2.cpython-39.pyc
__pycache__/gui_2.cpython-39.pyc
__pycache__/gui_copy.cpython-39.pyc
__pycache__/gui.cpython-39.pyc
__pycache__/image_processor.cpython-39.pyc
__pycache__/login_window.cpython-39.pyc
__pycache__/main_app.cpython-39.pyc
__pycache__/modelo_con_excel.cpython-39.pyc
__pycache__/modify_user_window.cpython-39.pyc
__pycache__/mouse_pixel_value.cpython-39.pyc
__pycache__/reset_value.cpython-39.pyc
__pycache__/reset.cpython-39.pyc
__pycache__/save_pdf.cpython-39.pyc
__pycache__/shadow_temp.cpython-39.pyc
__pycache__/shape_selection.cpython-39.pyc
__pycache__/temp_graph.cpython-39.pyc
__pycache__/utils.cpython-39.pyc
